In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(rc={'figure.figsize': (9, 6)})
eventdf = pd.read_csv(r'C:\Users\kliker\Desktop\event_data_train.csv')
subdf = pd.read_csv(r'C:\Users\kliker\Desktop\submissions_data_train.csv')
pd.set_option('display.max_columns', None)

In [40]:
subdf.head()

   step_id   timestamp submission_status  user_id
0    31971  1434349275           correct    15853
1    31972  1434348300           correct    15853
2    31972  1478852149             wrong    15853
3    31972  1478852164           correct    15853
4    31976  1434348123             wrong    15853

In [53]:
gap_data1 = subdf[subdf['submission_status'] == 'correct'].groupby(['user_id', 'submission_status']).size().idxmax()
gap_data1

(1046, 'correct')